NEXT_PUBLIC_API_BASE_URL=https://university-management-system-mu-sage.vercel.app/api/v1
NEXT_PUBLIC_GOOGLE_CLIENT_ID=663637719779-2jc93e8jt54embgl3vltf3e1pcqn0g66.apps.googleusercontent.com
NEXT_PUBLIC_APP_URL=http://localhost:3000

# SSLCommerz Sandbox Configuration
NEXT_PUBLIC_SSLCOMMERZ_STORE_ID=testbox
NEXT_PUBLIC_SSLCOMMERZ_IS_LIVE=false
SSLCOMMERZ_STORE_ID=testbox
SSLCOMMERZ_STORE_PASS=qwerty
SSLCOMMERZ_IS_LIVE=false
